/* Estilo do Cabeçalho = Header */
#Header{
    width: 100%;
    height: 123px;
    background: rgb(249, 176, 187);

    /* Alinhamentos */
    display: flex;
    align-items: center;
    justify-content: center;
}
#Header .Div-Header{
    width: 1170px;
    height: 123px;
    
    /* Alinhamento */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Header .Div-Header .Div-img-Logo{
    width: 150px;
    height: 110px;
    
    /* Alinhamento */
    display: flex;
    align-items: center;
    justify-content: center;
}
#Header .Div-Header .Div-img-Logo .img-Logo{
    width: 80%;
    height: 100%;
}

/* Div NavBar Principal */
#Header .Div-Header .Div-NavBar{
    width: 810px;
    height: 40px;
}
#Header .Div-Header .Div-NavBar .Link-Cart{
    width: 2rem;
    height: 2rem;

    display: flex;
}
#Header .Div-Header .Div-NavBar .UL-NavBar{
    width: 100%;
    height: 100%;

    /* Alinhamento */
    display: flex;
    align-items: center;
    justify-content: center;
}
#Header .Div-Header .Div-NavBar .UL-NavBar .LI-NavBar{
    height: 100%;
    width: 100%;
    
    /* Alinhamento */
    display: flex;
    align-items: center;
    justify-content: center;
}
#Header .Div-Header .Div-NavBar .UL-NavBar .LI-NavBar .Link-NavBar{
    color: white;
    font-weight: 600;
}